---
layout: default
---

<h1>Hi, I'm Saalik</h1>
<p>Welcome to my corner of the internet. Thanks for stopping by!</p>

<section>
  <h3>A bit about me</h3>
  <p>I'm a software engineer, poet, writer, traveler and dreamer.</p>
  <p>Deeply spiritual, I believe in interconnectedness among all things. I strive to create a world where nature, innovative technology, and transparent communication work together in harmony.</p>
</section>

<section>
  <div class="grid">
    <div>
      <h3>What I'm up to</h3>
        <ul>
          <li>Software Engineering @ <a href="http://litmus.com" target="_blank">Litmus</a></li>
          <li>Writing <a href="/posts" target="_blank">blog posts</a></li>
          <li>Doing life in Austin, TX</a></li>
        </ul>
    </div>
  
    <div>
      <h3>A Sampling of Thoughts</h3>
      <ul>
        <li><a href="/musing/2022/03/27/intentions-for-this-blog/">Intentions for this blog</a></li>
        <li><a href="/musing/2020/07/23/on-cycles-and-interconnectedness/">On Cycles and Interconnectedness</a></li>
        <li><a href="/tech/2021/05/25/building-an-open-source-analytics-platform-in-2-weeks/">Building An Open-Source Analytics Platform In 2 Weeks</a></li>
        <li><a href="/musing/2021/06/30/flipping-the-script-on-job-interviews/">Flipping the Script on Job Interviews</a></li>
      </ul>

      <a href="/posts">All posts</a>
    </div>
  </div>
</section>

<section class="favorite-things">
  <h3>These are a few of my favorite things</h3>
  <div class="grid">
    <div>
      <strong>Technologies</strong>
      <ul>
        <li>Ruby</li>
        <li>Rails</li>
        <li>JavaScript</li>
      </ul>
    </div>
    <div>
      <strong>Tools</strong>
      <ul>
        <li>Notion</li>
        <li>VScode</li>
        <li>Llama Life</li>
        <li>Twitter</li>
        <li>Spotify</li>
      </ul>
    </div>
    <div>
      <strong>Books</strong>
      <ul>
        <li>The Lord of the Rings ~ JRR Tolkein</li>
        <li>Essentialism ~ Greg McKeown</li>
        <li>The Dip ~ Seth Godin</li>
        <li>Cosmere books ~ Brandon Sanderson</li>
        <li>Einstein's Dreams ~ Alan Lightman</li>
        <li>American Nations ~ Colin Woodard</li>
        <li>The Ride and Fall of the Dinosaurs ~ Steve Brusatte</li>
      </ul>
    </div>
    <div>
      <strong>Games</strong>
      <ul>
        <li>Coup</li>
        <li>Civilization VI</li>
        <li>Terraria</li>
        <li>Jaipur</li>
        <li>Settlers of Catan</li>
      </ul>
    </div>
  </div>
</section>
