---
layout: default
---

<h1>Hi, I'm Saalik 👋</h1>

<p>Welcome to my little corner of the world wide web. Thanks for stopping by!
</p>

<section>
  <h3>A bit about me</h3>
  <p>I'm a software engineer by day, poet, writer, and adventurer by night.</p>
  <p>Deeply spiritual, I believe in the interconnectedness among all things. I strive to create a world where nature, innovative technology and transparent communication work together in harmony.</p>
</section>

<section class="grid">
  <div>
    <h3>What I'm up to</h3>
      <ul>
        <li>Software Engineering @ <a href="http://litmus.com" target="_blank">Litmus</a></li>
      </ul>
  </div>

  <div>
    <h3>Latest Posts</h3>
    
  </div>
</section>