<footer>
  <div class="footer-social-links">
    <a href="https://career.saaliklok.com" target="_blank">Polywork</a>
    <a href="https://twitter.com/saaliklok" target="_blank">Twitter</a>
    <a href="https://github.com/saaliklok" target="_blank">GitHub</a>
    <a href="https://linkedin.com/in/saaliklok" target="_blank">LinkedIn</a>
  </div>
  <p>&copy; Saalik Lokhandwala 2022</p>
  <p>No tracking, cookies, or nonsense.</p>
</footer>
