<nav>
  <ul>
    <li><a href="{{ '/' | relative_url }}"><strong class="site-header">SaalikLok.com</strong></a></li>
  </ul>
  <ul>
    <li><a href="{{ '/posts' | relative_url }}">Blog</a></li>
  </ul>
</nav>
